.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #252525;
    color: rgb(230, 205, 205);
    position: relative;
}
